/* Прижимаем футер к низу */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root > * {
  flex-shrink: 0;
}

#root > footer {
  margin-top: auto;
}